@model IEnumerable<Loboteva_v2.Models.Sancione>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Estado)</th>
            <th>@Html.DisplayNameFor(model => model.IdAlumnoNavigation.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.IdPenalizacionNavigation.Monto)</th>
            <th>@Html.DisplayNameFor(model => model.IdPrestamoNavigation.IdLibroNavigation.Titulo)</th> <!-- Mostrar el título del libro -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                <td>@Html.DisplayFor(modelItem => item.IdAlumnoNavigation.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.IdPenalizacionNavigation.Monto)</td>
                <td>@Html.DisplayFor(modelItem => item.IdPrestamoNavigation.IdLibroNavigation.Titulo)</td> <!-- Mostrar el título del libro -->
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdSancion">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdSancion">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdSancion">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
