@model IEnumerable<Loboteva_v2.Models.ConfiguracionPenalizacione>

@{
    ViewData["Title"] = "Inicio";
}

<h1>Lista de Penalizaciones</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPenalizacion">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdPenalizacion">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPenalizacion">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
